<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <div class="container">
        <div class="col-6">
            <h1></h1>
        </div>
        <div>
            <div id="msgArea" class="col"></div>
            <div class="col-6">
                <div class="input-group mb-3">
                    <input type="text" id="msg" class="form-control">
                    <div class="input-group-append">
                        <button class="btn btn-outline-secondary" type="button" id="button-send">전송</button>
                    </div>
                    <div class="input-group-append">
                        <button class="btn btn-outline-secondary" type="button" id="button-close">연결 종료</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-6"></div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/sockjs-client@1/dist/sockjs.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/stomp.js/2.3.3/stomp.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script>
        $(document).ready(function(){
            var roomName = "something special room";
            var roomId = 1;
            var username = 'helloThere@naver.com';
            var nickName = "석원";

            console.log(roomName + ", " + roomId + ", " + nickName);

            var sockJs = new SockJS("/stomp/chat");
            //1. SockJS를 내부에 들고있는 stomp를 내어줌
            var stomp = Stomp.over(sockJs);

            //2. connection이 맺어지면 실행
            stomp.connect({}, function (){
                console.log("STOMP Connection")

                //4. subscribe(path, callback)으로 메세지를 받을 수 있음
                stomp.subscribe("/sub/chat/room/" + roomId, function (chat) {
                    var content = JSON.parse(chat.body);
                    var writer = content.userEmail;
                    var nickName = content.nickName;
                    var message = "";
                    if (content.message != null) {
                        message = content.message;
                    }
                    var str = '';

                    if(writer === username){
                        str = "<div class='col-6'>";
                        str += "<div class='alert alert-secondary'>";
                        str += "<b>" + nickName + " : " + message + "</b>";
                        str += "</div></div>";
                        $("#msgArea").append(str);
                    }
                    else{
                        str = "<div class='col-6'>";
                        str += "<div class='alert alert-warning'>";
                        str += "<b>" + nickName + " : " + message + "</b>";
                        str += "</div></div>";
                        $("#msgArea").append(str);
                    }
                });

                //3. send(path, header, message)로 메세지를 보낼 수 있음
                stomp.send('/pub/chat/enter', {}, JSON.stringify({
                    chatRoomIdx: roomId,
                    userEmail: username,
                    nickName: nickName
                }))
            });

            $("#button-send").on("click", function(e){
                var msg = document.getElementById("msg");

                console.log(username + ":" + msg.value);
                // stomp.close();
                stomp.send('/pub/chat/message', {}, JSON.stringify({
                    chatRoomIdx: roomId,
                    message: msg.value,
                    userEmail: username,
                    nickName: nickName,
                    userIdx: '79f72adc-fdfc-4044-a855-f1a27c720ee2',
                }));
                msg.value = '';
            });

            $("#button-close").on("click", function(e){
                stomp.disconnect();
                console.log("close button")
            });
        });
    </script>
</body>
</html>